/* Example:
* <div class="m-card">
* 	<div class="m-card-icon">
* 		<i class="fab fa-android fa-4x"></i>
* 	</div>
* 	<div class="m-card-info">
* 		<h4>Download</h4>
* 		<p>From Play Store</p>
* 	</div>
* </div>  
*/

.m-card {
	background: @color-white;
	color: @color-font-base;
	padding: @space-base;
	border-radius: @border-radius-base;

	// For Desktop
	@media (min-width: @screen-md) {
		& {
			text-align: left;

			&-row {
				display: flex;
				flex-direction: row;
				justify-content: flex-start;
				align-items: center;
				align-content: center;
			}

			&-icon {
				+ .m-card-info {
					margin-left: @space-base-half;
				}
			}
			
		}
		
	}
}
