/* Example:
* <div class="m-card">
* 	<div class="m-card-icon">
* 		<i class="fab fa-android fa-4x"></i>
* 	</div>
* 	<div class="m-card-info">
* 		<h4>Download</h4>
* 		<p>From Play Store</p>
* 	</div>
* </div>  
*/

.m-card {
	background: @color-white;
	color: @color-font-base;
	padding: @space-base;
	border-radius: @border-radius-base;
	box-shadow: @box-shadow-base;

	h4 {
		font-family: @font-family-dosis-bold;
		color: @color-grey-darker;
	}

	// For Desktop
	@media (min-width: @screen-md) {
		& {
			text-align: left;

			&-row {
				.mixin-flex-row;
				.mixin-flex-start-center;
			}

			&-icon {
				+ .m-card-info {
					margin-left: @space-base-half;
				}
			}
			
		}
		
	}

	// For Tablet & Mobile
	@media (max-width: @screen-md) {
		& {
			font-size: @font-size-12;
		}
	}
}

/*
* For download component
*/
.m-download {
	h4 {
		font-size: @font-size-22;
		padding-bottom: @space-small;
		line-height: 1;
	}

	// For Tablet & Mobile
	@media (max-width: @screen-md) {
		& {
			.m-card-info {
				padding-top: @space-base-half;
			}
		}
	}
}

// Hover color for icon m-card
.m-apple,
.m-android,
.m-windows {
	&:hover {
		cursor: pointer;
	}
}

.m-apple:hover {
	.m-card-icon {
		color: @color-i-grey;
	}
}

.m-android:hover {
	.m-card-icon {
		color: @color-i-green;
	}	
}

.m-windows:hover {
	.m-card-icon {
		color: @color-i-blue;
	}	
}

