@import 'variable-theme';

@font-family-dosis: 'Dosis', Helvetica, Arial, sans-serif;

// Font size
@font-size-12: 12px;
@font-size-14: 14px;
@font-size-18: 18px;
@font-size-22: 22px;
@font-size-38: 38px;

@font-size-base: @font-size-14;

// Spacing
@space-small:      6px;
@space-base:       32px;
@space-base-half:  @space-base/2;


